/* change the colors */
$primary: #a50048;
// $danger: #dd0000;
// $success: lime;
// $warning: orange;
// $info: aqua;
$light: rgba(216, 216, 216, 0.445);

@import "bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-dialog {
  position: absolute;
  right: 0;
  height: 90vh;
  bottom: 0;
  margin: 0;
}

.modal-content {
  height: inherit;
  width: 500px;
}
